DerivePointerAlignment: false
PointerAlignment: Left
AlignArrayOfStructures: None
ColumnLimit: 80

IndentWidth: 2
UseTab: Never

AlwaysBreakAfterReturnType: All
AllowAllParametersOfDeclarationOnNextLine: false
BinPackParameters: false
AlignAfterOpenBracket: Align
ContinuationIndentWidth: 2
AllowShortBlocksOnASingleLine: Never
Cpp11BracedListStyle: false

BreakBeforeBraces: Custom 
BraceWrapping:
  AfterFunction: true

MaxEmptyLinesToKeep: 1
SpacesBeforeTrailingComments: 2

